@{
    ViewBag.Title = "Detalji grada";
}

<h2>Detalji grada</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>Naziv:</dt>
                <dd id="1"></dd>
                <dt>Opis:</dt>
                <dd id="2"></dd>
            </dl>
        </div>
    </div>
</div>


@Styles.Render("~/Content/Site.css")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Custom/DetaljiGrada.js"></script>